<% if @task.nil? %>
  <h1> 404 Not found</h1>
<% else %>
<!-- Can I get this to show the task list number? -->
  <h2><%= @task.name %></h2>
  <p><%= @task.description %></p>
  <p><%= link_to "Edit Task", edit_task_path %></p>

  <%= form_with model: @task, url: destroy_task_path, method: :delete, class: "delete-task-form", data: {confirm: 'Are you sure?'} do |f| %>
    <%= f.submit "Delete Task", class: "delete-task-button" %>
  <% end %>

<% end %>

<p><%= link_to "Back to Tasks", root_path %></p>

<p>You're on the #show page!</p>
