<!DOCTYPE html>
<html>
  <section class="wrapper">
    <head>
      <title>TaskList</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <link href="https://fonts.googleapis.com/css?family=Raleway:400,900" rel="stylesheet">
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <header class="the-date-today">
      <h1>It's <%= Date.today.strftime("%A %b %d, %Y") %>.</h1>
    </header>
    <section class="notice">
      <%= notice %>
    </section>
    <section class = "greeting">
      <h2><%= greet %>.</h2>
    </section>
    <nav>
      <%= link_to "Create A New Task", new_task_path, class: "nav-link" %>
      <%= link_to "Home (All Tasks)", root_path, class: "nav-link" %>
    </nav>
    <body>
      <%= yield %>
    </body>
    <footer>
      <p>© 2018 sj @ ada</p>
    </footer>
  </section>
</html>
