<!DOCTYPE html>
<html>
  <head>
    <title>TaskList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <h1>New Rules</h1>
    <h2>My Tasks for <%= Date.today.strftime("%a %b %d, %Y") %></h2>
    <sub><%= notice %> </sub>
  </header>
  <nav>
    <p><%= link_to "Create A New Task", new_task_path %></p>
    <p><%= link_to "Back To All Tasks", root_path %></p>
  </nav>
  <body>
    <%= yield %>
  </body>
</html>
