<!DOCTYPE html>
<html>
  <head>
    <title>TaskList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>New Rules</h1>
    <h2>My Tasks for <%= Time.now.to_date.strftime("%a %b %d, %Y") %></h2>
    <%= yield %>
  </body>
</html>
